@using CelHost.Admin.Components
@using CelHost.Admin.Components.TabView
@using Microsoft.Extensions.Options
@inject ITabService TabService
@page "/dashboard"
<PageBase>
    <div class="main-layout">
        <CustomLayout ShowFooter="false">
            <Header>
                <div class="header">
                    <div class="toolbar">
                        <div class="toolbar-item icon" @onclick="()=>Toggle()">
                            <i class="bi @(isfullScreen ? "bi-fullscreen-exit" : "bi-fullscreen")"></i>
                        </div>
                        <Logout ImageUrl="/images/Avater.png" DisplayName="@($"欢迎，{UserName}")" UserName="@UserName" class="toolbar-item">
                            <HeaderTemplate>
                                <div class="d-flex flex-fill align-items-center">
                                    <img alt="avatar" src="/images/Avater.png" style="border-radius: 50%;">
                                    <div class="flex-fill">
                                        <div class="logout-dn">@($"欢迎，{UserName}")</div>
                                        <div class="logout-un">@($"当前账号：{Account}")</div>
                                    </div>
                                </div>
                            </HeaderTemplate>
                            <LinkTemplate>
                                <a href="#">
                                    <i class="fa-solid fa-user"></i><span>个人中心</span>
                                </a>
                                <a href="#">
                                    <i class="fa-solid fa-gear"></i><span>设置</span>
                                </a>
                                <LogoutLink Url="/logouts" />
                            </LinkTemplate>
                        </Logout>
                    </div>
                </div>
            </Header>
            <Main>
                <DynamicComponent Type="ITabService"></DynamicComponent>
            </Main>
            <Sidebar>
                <CustomNevMenu NavItems="@NavLinks">
                    <Title>
                        <img src="/images/logo.png" alt="图标" />
                        <span style=" margin-left: 0.2rem; font-size: 0.875rem; font-weight: bold; color: #2f3135">数据网关中心</span>
                    </Title>
                </CustomNevMenu>
            </Sidebar>
        </CustomLayout>
    </div>
</PageBase>