@using CelHost.Admin.Components
@using Microsoft.Extensions.Options
@page "/dashboard"
<PageBase>
    <div class="main-layout">
        <CustomLayout ShowFooter="false">
            <Header>
                <div class="header">
                    <div class="toolbar">
                        <div class="toolbar-item icon" @onclick="()=>Toggle()">
                            <i class="bi @(isfullScreen ? "bi-fullscreen-exit" : "bi-fullscreen")"></i>
                        </div>
                        <Logout ImageUrl="/images/Avater.png" DisplayName="@($"欢迎，{UserName}")" UserName="@UserName" class="toolbar-item">
                            <HeaderTemplate>
                                <div class="d-flex flex-fill align-items-center">
                                    <img alt="avatar" src="/images/Avater.png" style="border-radius: 50%;">
                                    <div class="flex-fill">
                                        <div class="logout-dn">@($"欢迎，{UserName}")</div>
                                        <div class="logout-un">@($"当前账号：{Account}")</div>
                                    </div>
                                </div>
                            </HeaderTemplate>
                            <LinkTemplate>
                                <a href="#">
                                    <i class="fa-solid fa-user"></i><span>个人中心</span>
                                </a>
                                <a href="#">
                                    <i class="fa-solid fa-gear"></i><span>设置</span>
                                </a>
                                <LogoutLink Url="/logouts" />
                            </LinkTemplate>
                        </Logout>
                    </div>
                </div>
            </Header>
            <Main>
                <DockView @ref="tabMenu">
                </DockView>
            </Main>
            <Sidebar>
                <CustomNevMenu NavItems="@NavLinks">
                    <Title>
                        <img src="/images/logo.png" alt="图标" />
                        <span style=" margin-left: 0.2rem; font-size: 0.875rem; font-weight: bold; color: #2f3135">数据网关中心</span>
                    </Title>
                </CustomNevMenu>
            </Sidebar>
        </CustomLayout>
    </div>
</PageBase>

@code {
    [Inject]
    private ILocalStorageService localStorage { get; set; }
    [Inject]
    private FullScreenService fullScreenService { get; set; }
    private string UserName { get; set; }
    private string Account { get; set; }
    private bool isfullScreen { get; set; } = false;
    private DockView tabMenu { get; set; }
    
    private void Toggle()
    {
        fullScreenService.Toggle();
        isfullScreen = !isfullScreen;
    }
    protected override async Task OnInitializedAsync()
    {
        UserName = await localStorage.GetItemAsync("userName");
        Account = await localStorage.GetItemAsync("account");
    }
    private List<CustomNevMenu.NavItem> NavLinks = new()
    {
        new()
        {
            Title = "仪表盘",
            Icon = "bi bi-speedometer2",
            Href = "/dashboard"
        },
        new()
        {
            Title = "系统管理",
            Icon = "bi bi-gear",
            IsExpanded = true,
            Children = new()
            {
                new CustomNevMenu.NavItem { Title = "用户管理", Href = "/users", Icon = "bi bi-person" },
                new CustomNevMenu.NavItem { Title = "角色管理", Href = "/roles", Icon = "bi bi-shield-lock" }
            }
        },
        new()
        {
            Title = "关于",
            Icon = "bi bi-info-circle",
            Href = "/about"
        }
    };


}
<style>
    .header {
        display: flex;
        justify-content: space-between;
        height: 3rem;
        background-color: rgba(255,255,255,0);
        top: 0;
        padding: 0 1rem;
        align-items: center;
    }

        .header .toolbar {
            display: flex;
            flex-direction: row;
            margin-left: auto;
        }

            .header .toolbar .toolbar-item.icon {
                font-size: 1.5rem;
            }

                .header .toolbar .toolbar-item.icon:hover {
                    cursor: pointer;
                    color: #2f3135;
                    transition: all 0.3s ease-in-out;
                }

                .header .toolbar .toolbar-item.icon:active {
                    color: #2f3135;
                }


            .header .toolbar .toolbar-item {
                margin: auto 0.4rem;
            }

            .header .toolbar img {
                border-radius: 80%;
            }

    .main-layout {
        box-sizing: content-box;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
        background: url("/images/main_background.png") no-repeat;
        background-size: cover;
    }
</style>
