@using Microsoft.AspNetCore.Components.Routing

<div class="sidebar-nav">
    <div class="@(IsCollapsed ? "collapsed" : "") title">
        @Title
    </div>
    @foreach (var item in NavItems)
    {
        <div class="nav-group">
            <div class="nav-item parent" @onclick="() => Toggle(item)">
                <i class="@item.Icon"></i>
                <span>@item.Title</span>
                <i class="bi @(item.IsExpanded ? "bi-chevron-down" : "bi-chevron-right") toggle-icon"></i>
            </div>
            <div class="nav-children @(item.IsExpanded ? "expanded" : "collapsed")">
                @foreach (var child in item.Children ?? Enumerable.Empty<NavItem>())
                {
                    <div class="nav-item child @(IsActive(child.Href) ? "active" : "")"
                         @onclick="() => NavigateTo(child.Href)">
                        <i class="@child.Icon"></i>
                        <span>@child.Title</span>
                    </div>
                }
            </div>

        </div>
    }
</div>